.row
  .col-sm-3.col-md-2.sidebar
    =render "shared/side_nav"
  .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
    %h1.page-header Dashboard
    .row.placeholders
      .col-xs-6.col-sm-4.placeholder
        %img(src="http://placehold.it/140x100")
        %h4 Inventory Count
        %span.text-muted by Category
      .col-xs-6.col-sm-4.placeholder
        %img(src="http://placehold.it/140x100")
        %h4 Inventory Value
        %span.text-muted $250 per item
      .col-xs-12.col-sm-4.placeholder
        %img(src="http://placehold.it/140x100")
        %h4 Wishlist Count
    %h2.sub-header Top 10 Inventory Items
    .table-responsive
      %table.table.table-striped.dashboard
        %thead
          %tr
            %th #
            %th Item
            %th Age
            %th Condition
            %th Value
            %th
        %tbody
          - (1..10).each do |i|
            %tr
              %td= i
              %td
                =link_to "#", title: "Item #{i}" do
                  ="Item #{i}"
              %td= "#{(1..15).to_a.sample} years"
              %td
                =select_tag "inventory_item[#{i}][condition]", options_for_select(["Excellent", "Good", "Poor", "Trash"].map.with_index {|x,y| [x, y + 1]}, (1..4).to_a.sample), include_blank: true
              %td= "$#{(1..1000).to_a.sample}"
              %td
                =link_to "#", title: "Refresh" do
                  %span.glyphicon.glyphicon-refresh(aria-hidden="true")
    %h2.sub-header Wish List
    .table-responsive
      %table.table.table-striped.dashboard
        %thead
          %tr
            %th #
            %th Item
            %th Need Level
            %th Cost
            %th
        %tbody
          - (1..5).each do |i|
            %tr
              %td= i
              %td
                =link_to "#", title: "Item #{i}" do
                  ="Item #{i}"
              %td
                =select_tag "inventory_item[#{i}][condition]", options_for_select(["Must Have", "Near Future", "Eventually", "In My Dreams"].map.with_index {|x,y| [x, y + 1]}, (1..4).to_a.sample), include_blank: true
              %td= "$#{(1..1000).to_a.sample}"
              %td
                =link_to "#", title: "Remove" do
                  %span.glyphicon.glyphicon-remove(aria-hidden="true")