!!!5
%html(lang="en-US")
  %head
    %title MyInventory - Personal Inventory System
    %meta(charset="UTF-F")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = csrf_meta_tag
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
  %body
    %header
      = render 'shared/header'
    %section.container-fluid.clearfix.content
      = render 'shared/messages'
      = yield
    %hr
    %footer
      .inner
        %p.text-muted &copy 2015 MyInventory